<div class="row">
	<div class="col-xs-12">
		<form [formGroup]="curFormGroup" (ngSubmit)="addRecipe()">
			<div class="row">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-primary">Save</button>
					<a class="btn btn-danger">Cancel</a>
				</div>
			</div>
			
			<div class="row">
				 <div class="col-xs-12">
					<label for="name">Title</label>
					<input formControlName="name" type="text" class="form-control" id="name" name="name"/>
                                </div>
			</div>
			
			<div class="row">
                                 <div class="col-xs-12">
                                        <label for="description">Description</label>
                                        <input formControlName="description" type="text" class="form-control" id="description" name="description"/>
                                </div>
                        </div>

			<div class="row">
				<div class="col-xs-12">
                                	<label for="imageurl">ImageUrl</label>
					<input type="text" formControlName="imageUrl" class="form-control" id="imageurl"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="img">
						<img/>
					</div>
                                </div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<ul class="list-group" formArrayName="ingredients">
							<div class="row" *ngFor="let ingredient of curFormGroup.controls['ingredients'].controls;let i=index">	
								<div formGroupName="{{i}}">
									<div class="col-sm-5">
										<input type="text" formControlName="name" name="name" class="form-control"/>
									</div>	
									<div class="col-sm-5">
										<input type="text" formControlName="quantity" name="quantity" class="form-control"/>
                                                        		</div>
									<div class="col-sm-2">
										<button class="btn btn-danger" (click)="removeIngredientUI(0)">x</button>
                                                        		</div>
								</div>
							</div>		
						</ul>
					</div>
					<div class="row">
						<div class="col-sm-5">
                                                        <input type="text" #newIngredientName name="name" class="form-control"/>
                                                </div>
                                                <div class="col-sm-5">
                                                        <input type="text" #newIngredientQuantity name="quantity" class="form-control"/>
                                                </div>
                                                <div class="col-sm-2">
                                                	<button  class="btn btn-primary" (click)="addIngredientUI(newIngredientName.value,newIngredientQuantity.value)">+</button>
                                                </div>
					</div>
                                </div>
			</div>		
		</form>
	</div>
</div>
