<div class="row">
	<div class="col-xs-12">
		<img src="{{selectedRecipe?.imageUrl}}" class="img-responsive" width="300" height="300"/>	
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h1>{{selectedRecipe?.name}}</h1>
	</div>
	 <div class="col-xs-12">
        	<button class="btn btn-success" (click)="addToShoppingCart()">Add to shopping cart</button>
	        <button (click)="onEdit()" class="btn btn-primary">Edit</button>
                <button (click)="onDelete()" class="btn btn-danger">Delete</button>
	</div>
</div>

<div class="row">
        <div class="col-xs-12">
		{{selectedRecipe?.description}}
	</div>
</div>

<div class="row">
        <div class="col-xs-12">
		Ingredients
	</div>
</div>
